
// Colors
$main-color: var(--color-primary);
$infinte-color: var(--infinte-color);
$main-text-color: var(--main-text-color);

:root {
  --infinte-color: #c9c9c9;
  --main-text-color: #231f1e;
  --main-text-color-dark: #2b2d34;

  /* E-Store Theme Colors */
  --color-primary: #EF5D2A;
  --color-primary-d: #CC4D23;
  --color-primary-l: #FF7A4D;
  --color-primary-reverse: #FF8A65;
  --color-text: #6B7280;
  --bg-gray: #F2F2F2;
  --color-grey: #F5F7F9;
  --color-light-grey: #E5E7EB;
  --main-text-color: #1F2937;
  --main-text-color-dark: #111827;

  /* plugins */
  --mm-ocd-width: calc(100% - 51px);
}
